

// HEIGHT MAX ----------------------------------------------------------------------

// Nom de classe (class only)
$max-height-class-name : "max-h";

// Taille par défaut
$max-height-default-box-key : "100";

// Création de clé pour tous les formats
$max-height-all-formats : false;

// Format de taille par défaut
$max-height-default-format : "static";