

// PADDING -------------------------------------------------------------------------

// Nom de classe (class only)
$padding-class-name : "p";

// Taille par défaut
$padding-default-size-key : "md" ; 

// Positionnement par défaut
$padding-default-position : "" ;

// Format de taille pour les classes (class only)
$padding-default-size-format : "dynamic";

// Création de classes pour tous les formats (class only)
$padding-class-all-formats : false;