@use "sass:map";

@mixin get-width (
  $box-key : $width-default-box-key,
  $all-formats : $width-all-formats,
  $default-format : $width-default-format,
  $size-rates: $size-box-rates-default, 
  $size-formats : $size-formats-default
  ) {
  @include get-box-size-props(
    width,
    $box-key,
    $all-formats,
    $default-format,
    $size-rates,
    $size-formats,
  );
}
