
// WIDTH ---------------------------------------------------------------------------

// Nom de classe (class only)
$width-class-name : "w";

// Taille par défaut
$width-default-box-key : "100";

// Création de clé pour tous les formats
$width-all-formats : false;

// Format de taille par défaut
$width-default-format : "static";