
@mixin class-max-width (
  $class-name : $max-width-class-name,
  $default-box-key : $max-width-default-box-key,
  $all-formats : $max-width-all-formats,
  $default-format : $max-width-default-format,
  $size-rates: $size-box-rates-default, 
  $size-formats : $size-formats-default,
  $class-name-suffix : ""
) {
  /*! Flex Basis */
  @include class-box-size-props(
    max-width,
    $class-name,
    $default-box-key,
    $all-formats,
    $default-format,
    $size-rates,
    $size-formats,
    $class-name-suffix
  )
}

