
// WIDTH MAX -----------------------------------------------------------------------

// Nom de classe (class only)
$max-width-class-name : "max-w";

// Taille par défaut
$max-width-default-box-key : "100";

// Création de clé pour tous les formats
$max-width-all-formats : false;

// Format de taille par défaut
$max-width-default-format : "static";