
// DISPLAY FLEX GROW ---------------------------------------------------------------

// Nom de classe (class only)
$flex-grow-class-name : "flex-grow";

// Nom de classe première valeur (class only)
$flex-grow-first : 1;

// Valeur Minimale (class only)
$flex-grow-min : 1;

// Valeur Maximale (class only)
$flex-grow-max : 3;

// Valeur entre deux Valeur (class only)
$flex-grow-step : 1;

// Valeur par défaut
$flex-grow-default : 1;
