
// BOX SIZE ------------------------------------------------------------------------

// Taille par défaut
$box-size-default-box-key : "md";

// Création de classes pour tous les formats
$box-size-all-formats : false;

// Format de taille par défaut
$box-size-default-format : "static";