
// DISPLAY FLEX --------------------------------------------------------------------

// Nom de classe (class only)
$flex-class-name : "flex";


// Alignement en x par défaut
$flex-default-x-key : "" ; 


// Alignement en y par défaut
$flex-default-y-key : "";


// Direction par défaut
$flex-default-direction : "";


// Wrap par défaut
$flex-default-wrap: nowrap;
