

@mixin class-margin(
  $size-formats : $size-formats-default, 
  $size-rates: $size-rates-default, 
  $default-size-key : $margin-default-size-key, 
  $default-size-format : $margin-default-size-format,
  $all-formats : $margin-class-all-formats,
  $class-name : $margin-class-name, 
  $class-name-suffix : ""
) {
  /*! Margin */
  .#{$class-name}{
    @include class-position-orto(margin, var-size($default-size-format, $default-size-key), $class-name-suffix );
    &-auto {
      @include class-position-orto(margin, auto, $class-name-suffix );
    }
    &-no {
      @include class-position-orto(margin, 0, $class-name-suffix );
    }
    @each $rate-key, $rate-value in $size-rates {
      &#{name-class($rate-key)} {
        @include class-position-orto(margin, var-size($default-size-format, $rate-key), $class-name-suffix );

        @if $all-formats {
          @each $format-key, $format-value in $size-formats {
            &#{name-class($format-key)} {
              @include class-position-orto(margin, var-size($format-key, $rate-key), $class-name-suffix );
            }
          }
        }
      }
    }
  }
}
