
// FONT SIZES ----------------------------------------------------------------------

// Nom de classe (class only)
$font-size-class-name : "fs";

// Taille par défaut
$font-size-default-size-key : "xs" ; 

// Format de taille pour les classes (class only)
$font-size-default-size-format : "static";

// Création de classes pour tous les formats (class only)
$font-size-class-all-formats : false;