
// WIDTH MIN -----------------------------------------------------------------------

// Nom de classe (class only)
$min-width-class-name : "min-w";

// Taille par défaut
$min-width-default-box-key : "100";

// Création de clé pour tous les formats
$min-width-all-formats : false;

// Format de taille par défaut
$min-width-default-format : "static";