

// HEIGHT --------------------------------------------------------------------------

// Nom de classe (class only)
$height-class-name : "h";

// Taille par défaut
$height-default-box-key : "100";

// Création de clé pour tous les formats
$height-all-formats : false;

// Format de taille par défaut
$height-default-format : "static";