

@mixin class-radius(
  $size-formats : $size-formats-default, 
  $size-rates: $size-rates-default, 
  $default-size-key : $radius-default-size-key, 
  $default-size-format : $radius-default-size-format,
  $all-formats : $radius-class-all-formats,
  $class-name : $radius-class-name, 
  $class-name-suffix : ""
) {
  /*! Border Radius */
  .#{$class-name}{
    @include class-position-diag(border, radius, var-size($default-size-format, $default-size-key),$class-name-suffix);
    &-auto {
      @include class-position-diag(border, radius, auto,$class-name-suffix );
    }
    &-no {
      @include class-position-diag(border, radius, 0,$class-name-suffix );
    }
    @each $rate-key, $rate-value in $size-rates {
      &#{name-class($rate-key)} {
        @include class-position-diag(border, radius, var-size($default-size-format, $rate-key),$class-name-suffix);

        @if $all-formats {
          @each $format-key, $format-value in $size-formats {
            &#{name-class($format-key)} {
              @include class-position-diag(border, radius, var-size($format-key, $rate-key),$class-name-suffix);
            }
          }
        }
      }
    }
  }
}
