
// BORDER RADIUS -------------------------------------------------------------------

// Nom de classe (class only)
$radius-class-name : "r";

// Taille par défaut
$radius-default-size-key : "md" ; 

// Positionnement par défaut
$radius-default-position : "" ;

// Format de taille pour les classes (class only)
$radius-default-size-format : "dynamic";

// Création de classes pour tous les formats (class only)
$radius-class-all-formats : false;