
// DISPLAY FLEX BASIS --------------------------------------------------------------

// Nom de classe (class only)
$flex-basis-class-name : "flex-basis";

// Taille par défaut
$flex-basis-default-box-key : "md";

// Création de clé pour tous les formats
$flex-basis-all-formats : false;

// Format de taille par défaut
$flex-basis-default-format : "static";

