

// HEIGHT MIN ----------------------------------------------------------------------

// Nom de classe (class only)
$min-height-class-name : "min-h";

// Taille par défaut
$min-height-default-box-key : "100";

// Création de clé pour tous les formats
$min-height-all-formats : false;

// Format de taille par défaut
$min-height-default-format : "static";