
@mixin class-min-height (
  $class-name : $min-height-class-name,
  $default-box-key : $min-height-default-box-key,
  $all-formats : $min-height-all-formats,
  $default-format : $min-height-default-format,
  $size-rates: $size-box-rates-default, 
  $size-formats : $size-formats-default,
  $class-name-suffix : ""
) {
  /*! Flex Basis */
  @include class-box-size-props(
    min-height,
    $class-name,
    $default-box-key,
    $all-formats,
    $default-format,
    $size-rates,
    $size-formats,
    $class-name-suffix
  )
}

