
// DISPLAY FLEX SHRINK -------------------------------------------------------------

// Nom de classe (class only)
$flex-shrink-class-name : "flex-shrink";

// Nom de classe première valeur (class only)
$flex-shrink-first : 1;

// Valeur Minimale (class only)
$flex-shrink-min : 1;

// Valeur Maximale (class only)
$flex-shrink-max : 3;

// Valeur entre deux Valeur (class only)
$flex-shrink-step : 1;

// Valeur par défaut
$flex-shrink-default : 1;